# BEGIN Expire headers
<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 1 years"
ExpiresByType css/bootstrap.css "access plus 1 years"
ExpiresByType css/et-line.css "access plus 1 years"
ExpiresByType css/font-awesome.css "access plus 1 years"
ExpiresByType favivon.jpg "access plus 1 years"
ExpiresByType img/1.jpg "access plus 1 years"
ExpiresByType img/2.jpg "access plus 1 years"
ExpiresByType img/3.jpg "access plus 1 years"
ExpiresByType img/4.jpg "access plus 1 years"
ExpiresByType img/citation.png "access plus 1 years"
ExpiresByType img/image-de-presentation.jpg "access plus 1 years"
ExpiresByType img/la-chouette-agence-banniere.jpg "access plus 1 years"
ExpiresByType img/lines-h2-bg.png "access plus 1 years"
ExpiresByType img/logo.png "access plus 1 years"
ExpiresByType img/texture-paper.png "access plus 1 years"
ExpiresByType img/title.png "access plus 1 years"
ExpiresByType img/title2.png "access plus 1 years"
ExpiresByType js/blocs.js "access plus 1 years"
ExpiresByType js/bootstrap.js "access plus 1 years"
ExpiresByType js/gmap.js "access plus 1 years"
ExpiresByType js/jquery-2.1.0.js "access plus 1 years"
ExpiresByType js/jquery.touchSwipe.js "access plus 1 years"
ExpiresByType style.css "access plus 1 years"
</IfModule>
# END Expire headers